.add-show {
    display: flex;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: red;
}


/*===================*/
/* BACKGROUND VIDEO */
/*=================*/
.add-show video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
}

.add-show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: radial-gradient(ellipse at 900% 4%, rgba(0, 0, 0, 0.4) 1%, rgb(0, 0, 0) 100%);
    border-radius: inherit;
}
/*=======================*/

/*================*/
/* SIDE BAR */
/*===============*/
.side-bar {
    background: var(--night-level-5);
    box-shadow: var(--shadow-level-3);
    width: 130px;
    height: 100vh;
    text-align: center;
    position: fixed;
}

.side-bar-logo {
    margin-top: 2rem;
    width: 47%;
    opacity: .7;
    transition: .3s all ease;
    cursor: pointer;
}

.side-bar-logo:hover {
    opacity: 1;
    transform: translateY(-3px);
}

.side-bar-links {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.side-bar-link-item {
    width: 103%;
    list-style: none;
    border-right: 2px solid transparent;
    cursor: pointer;
    opacity: .6;
    transition: .3s all ease;
}

.side-bar-link-item:hover {
    opacity: 1;
    transform: translateY(-3px);
}

.side-bar-link-item.active {
    border-right: 2px solid var(--silver-level-1);
    opacity: 1;
    transform: translateY(0);
}

.side-bar-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    font-size: .7rem;
    font-weight: 300;
    color: var(--white-level-1);
}

.side-bar-link fa-icon {
    font-size: 1.2rem;
}

.more-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
}

.more-info-toggle {
    cursor: pointer;
}

.more-info-toggle fa-icon {
    font-size: 1.4rem;
    opacity: .6;
    transition: .3s all ease;
}

.more-info-toggle fa-icon:hover {
    opacity: 1;
}

/*=======================*/
/* MAIN NAVIGATION */
/*=======================*/
.navigation {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3rem 7%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link-item {
    list-style: none;
}

.link {
    font-size: .9rem;
    opacity: .7;
    cursor: pointer;
    transition: .4s all ease;
}

.link:hover {
    opacity: 1;
}

.link.active {
    opacity: 1;
    font-weight: 400;
}


/*=================*/
/* HERO SECTION */
/*================*/
.hero {
    margin: auto;
    margin-top: 9rem;
    max-width: 1000px;
    position: relative;
}

.hero-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    max-width: 1000px;
}

.hero-info {
    width: 430px;
}

.current-page-title {
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: var(--raspberry);
    text-transform: uppercase;
}

.info-title {
    font-size: 2.9rem;
    font-weight: 600;
}

.info-content {
    font-size: .75rem;
    color: var(--silver-level-3);
}

/*===================*/
/* ADD FORM SECTION */
/*=================*/

/* CONTAINS SOCIAL MEDIA ICONS */
.form-content-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    width: 600px;
}

/* SOCIAL MEDIA ICONS */
.social-media-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    opacity: .7;
}

.social-media-icon {
    transition: .3s all ease;
}

.social-media-icon:hover {
    color: var(--raspberry);
    transform: translateY(-3px);
}

.social-media-icon.active {
    opacity: 1;
    transform: translateY(0);
    color: var(--raspberry);
}

/* FORM STYLING */
.add-form {
    padding: 2rem;
    margin-top: 3rem;
}

.box {
    margin-bottom: 4rem;
}

/* FORM INPUT AND FLOATING LABEL STYLING */
.input-wrapper {
    position: relative;
    margin: 20px auto;
}

.form-control {
    display: block;
    line-height: 2em;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    font-size: medium;
    border: none;
    border-bottom: 1px solid var(--silver-level-3);
    background: transparent;
    color: var(--white-level-1);
    box-sizing: border-box;
    font-weight: 500;
}

.form-control:focus {
    border-bottom: 1px solid var(--raspberry);
    outline: none;
}

.control-label {
    display: block;
    position: absolute;
    opacity: 0;
    bottom: 1.9rem;
    color: var(--raspberry);
    transition: 0.2s ease-in-out transform;
    font-size: 12px;
    text-transform: capitalize;
}

.form-control:placeholder-shown+.control-label {
    visibility: hidden;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.form-control:not(:placeholder-shown)+.control-label,
.form-control:focus:not(:placeholder-shown)+.control-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform: translateY(-10px);
    transition: 0.2s ease-in-out transform;
}



/* FORM BUTTON */
.form-cta {
    border: none;
    padding: .7rem;
    width: 140px;
    border-radius: 0px 21px;
    margin: auto;
    font-weight: 600;
    background: none;
    color: var(--white-level-1);
    border: 1px solid var(--white-level-1);
    cursor: pointer;
    transition: .3s all ease;
}

.form-cta:hover {
    background: var(--raspberry);
    border: 1px solid var(--raspberry);
    color: var(--night-level-1);
    transform: translateY(-3px);
    box-shadow: var(--shadow-level-2);
}


/* PREVIEW WRAPPER */
.recommendations {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recommendations span {
    color: var(--raspberry);
    font-size: 1.9rem;
}

.preview-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
}

.preview {
    display: flex;
    align-items: center;
}

.preview-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 2rem;
    border-left: 1px solid var(--silver-level-3);
}

.preview-img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.preview-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}







/* ANIMATIONS */
@keyframes glow {
    0% {
        opacity: .7;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}